.hotel {
  display: flex;
  flex-direction: column;
}

.hotel-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

.hotel-heading h1 {
  font-size: 52px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 800;
}

.hotel-container {
  display: flex;
  flex-direction: row;
 
}

.hotel-container_groupA {
  transition: all 0.5s ease-in-out;
  flex: 0.75;
  margin-right: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.hotel-container_groupA:hover {
  transform: translateY(-20px);
}

.hotel-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

@media screen and (width <= 990px) {
  .hotel-container {
    flex-direction: column-reverse;
  }

  .hotel-container_groupA {
    margin: 2rem 0;
  }

  .hotel-container_groupA .hotel-container_article {
    width: 48%;
  }

  .hotel-container_groupA .hotel-container_article-image {
    height: 250px;
  }
}

@media screen and (width <= 700px) {
  .hotel-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .hotel-container_groupA .hotel-container_article {
    width: 100%;
  }

  .hotel-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (width <= 550px) {
  .hotel-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}

.about_places {
  font-size: 16px;

  /* line-height: 75px; */
  font-family: var(--font-family);
  font-weight: 800;
}
