.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-links_logo {
  margin-right: 2rem;
}

.navbar-links_logo img {
  width: 200px;
  height: 200px;

  mix-blend-mode: color-burn;
  /* filter: drop-shadow(10px 7px 10px rgb(216, 215, 215)); */
}

.navbar-links_container {
  display: flex;
  flex-direction: row;
}

.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p {
  /* color: #fff; */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-sign button,
.navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
  background-color: rgba(146, 123, 123, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.navbar-menu svg {
  cursor: pointer;
}

.navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: rgba(146, 123, 123, 1);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 15px;
  margin-top: 1rem;
  min-width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar-menu_container p {
  margin: 1rem 0;
}

.navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbar-links_container {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem;
  }

  .navbar-sign {
    display: none;
  }

  .navbar-menu_container {
    top: 20px;
  }

  .navbar-menu_container-links-sign {
    display: block;
  }
}
