.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(146 123 123);
  background: linear-gradient(
    90deg,
    rgb(146 123 123 / 100%) 0%,
    rgb(250 249 246 / 100%) 35%,
    rgb(255 255 255 / 100%) 100%
  );
}

.brand div {
  flex: 1;
  max-width: 150px;
  min-width: 12px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
