.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(146, 123, 123);
  background: linear-gradient(
    90deg,
    rgba(146, 123, 123, 1) 0%,
    rgba(250, 249, 246, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}

.brand div {
  flex: 1;
  max-width: 150px;
  min-width: 12px;
  margin: 1rem;

  display: flex;

  justify-content: center;
  align-items: center;
}
