.flip-card-outer {
  width: 300px;
  height: 300px;
  margin: 25px 0;

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: 0.5s linear 0.1s;
    position: relative;
    width: inherit;
    height: inherit;

    &.hover-trigger:hover {
      transform: rotateY(180deg);
    }

    &.showBack {
      transform: rotateY(180deg);
    }

    .card {

      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.front {
        transform: rotateY(0);

        border-radius: 8px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
      }

      &.back {
        padding-top: 8px;
        font-family: var(--font-family);
        transform: rotateY(180deg);

        background: rgb(146, 123, 123);
        background: linear-gradient(
          90deg,
          rgba(146, 123, 123, 1) 0%,
          rgba(250, 249, 246, 1) 35%,
          rgba(255, 255, 255, 1) 100%
        );
        color: rgb(111, 95, 77);
        border-radius: 8px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}
