* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
}

a {
  color: #252222;
  text-decoration: none;
  font-weight: 500;
}

.gradient__bg {
  background: rgb(146 123 123);
  background: linear-gradient(
    90deg,
    rgb(146 123 123 / 100%) 0%,
    rgb(250 249 246 / 100%) 35%,
    rgb(255 255 255 / 100%) 100%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (width <= 700px) {
  .section__margin {
    margin: 4rem;
  }

  .section__padding {
    padding: 4rem;
  }
}

@media screen and (width <= 550px) {
  .section__margin {
    margin: 4rem 2rem;
  }

  .section__padding {
    padding: 4rem 2rem;
  }
}
